.job-container,
.tag-container {
    display: flex;
    flex-flow: row wrap;
}
.jobs-container {
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap:0px;
}
.job {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor:pointer;
}
.thumb img {
    width: 100%;
    transition:all 0.5s ease;
    transform: scale(1.1);
}
.thumb img:hover {
    transform: scale(1.3);
}
.job-details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background: #0A062D;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: calc(100% - 228px);
    height: 40vh;
}
.job-details > div {
    width:30%;
    text-align: center;
}
.job-details > div a {
    text-decoration:none;
    color:#41ebaf;
}
.job-details > div p {
    text-align: justify;
}
.tag {
    padding: 1px 5px;
    border-radius: 20px;
    text-align: center;
    margin: 5px;
}