.main-nav {
  width:100%;
  background: #0E2F44;
  margin-bottom: 5%;
}
.navbar {
  display: flex;
  flex-flow:row nowrap;
  align-items: center;
  justify-content: space-between;
  padding:0;
  max-height: 80px;
}
.logo,
.user-settings-btn {
  text-transform: uppercase;
  color:#fff;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-flow:row nowrap;
  align-items: center;
}
.user-settings-btn{
  color:rgba(255,255,255,0.7);
  cursor:pointer;
}
.user-settings-btn:hover {
  background:#12121280;
}
.user-settings-menu {
  position: relative;
    top: 79px;
}
