<div class="main-nav">
  <div class="container navbar">
    <h1 class="logo">FightHub</h1>
    <div >
      <div *ngIf="(auth.user| async)" class="user-settings-btn" [matMenuTriggerFor]="userSettings">
        <img class="avatar">
        <div>{{userData.displayName ? userData.displayName : userData.email}}</div>
      </div>
      <mat-menu class="user-settings-menu" [overlapTrigger]="false" yPosition="below" #userSettings>
        <button mat-menu-item (click)="logOut()">Log Out</button>
      </mat-menu>
      <div *ngIf="!(auth.user| async)" class="user-settings-btn" [matMenuTriggerFor]="notUserMenu">
          <div>Options</div>
        </div>
        <mat-menu class="user-settings-menu" [overlapTrigger]="false" yPosition="below" #notUserMenu>
          <button mat-menu-item routerLink="/auth/login">Log In</button>
          <button mat-menu-item routerLink="/auth/register">Register</button>
        </mat-menu>
    </div>

  </div>
</div>
