<div class="navegation">
  <div class="title" #title>
    <h1> PHILIPPE MIRANDA </h1>
    <h2>Desenvolvedor <br> Front-end</h2>
  </div>
  <div class="collapsed-nav menu-link" #collapsedNav>
    {{pageName}}
  </div>
  <div class="main-nav" #sectionsMenu>
      <div class="nav-container">
        <ul class="sections_menu" >
          <li class="menu-link" 
            *ngFor="let p of pages" 
            [routerLink]="p.route" 
            routerLinkActive="active-menu-link" 
            routerLinkActiveOptions="{exact: true}" > 
          {{p.name}} 
        </li>
        </ul>
      </div>
  </div>
</div>

<div class="main-container">
    <router-outlet></router-outlet>
</div>
