.edit-profile-form {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.step {
  width: 25%;
}
.avatar-wrapper{
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 1px 3px 3px 3px #aeaeae;
  margin: 20px auto;

}
.custom-label{
  top:-25px;
}
.label-detail {
  text-transform: capitalize;
}
